{% form_theme form '@CronCron/form/bulma.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
<button class="button is-primary is-small">
            <span class="icon">
                <i class="fa fa-floppy-o"></i>
            </span>
    <span>Save</span>
</button>
{{ form_end(form) }}