{% extends '@CronCron/CronJob/base.html.twig' %}

{% set title = 'Edit Cron Job' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <a href="{{ path('cron_index') }}" class="button is-link is-small my-3">
        <span class="icon">
            <i class="fa fa-arrow-left"></i>
        </span>
        <span>Back</span>
    </a>
    <div class="card">
        <div class="card-content">
            <p class="title">
                {{ title }}
            </p>
            {{ include('@CronCron/CronJob/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
